.Teralogic__page-partners{
	background-image:url("bg/bg4.jpg");
	margin-top:64px;
}
@media (min-resolution: .001dpcm) {
    _:-o-prefocus, .Teralogic__page-partners {
        height:80%;
    };
}

.Teralogic__page-partners .Teralogic__container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	line-height:37px;
}

.Teralogic__page-partners_cell1{
	width:68%;
	padding:0vh 0vw 0px 5px;
	margin:auto 0px;
}
.Teralogic__page-partners_cell2{
	min-width:248px;
	height:100%;
}
.Teralogic__page-partners_cell3{
	width:32%;
}

.Teralogic__page-partners-h{
	font:normal 40px/59px "Circe-ExtraLight", sans-serif;
	color:#fff;
	margin:0px auto 21px;
	text-align:left;
}
.Teralogic__page-partners-h span{
	background-color:rgba(0,0,0,0.5);
	padding:0px 10px 0px;
	box-decoration-break: clone;
	-webkit-box-decoration-break:clone;
}

.Teralogic__page-partners-p{
	font:normal 20px/33px "Circe-ExtraLight", sans-serif;
	color:#fff;
	margin:0px;
}
.Teralogic__page-partners-p span{
	background-color:rgba(0,0,0,0.5);
	padding:2px 10px 2px;
	box-decoration-break: clone;
	-webkit-box-decoration-break:clone;
}

@-moz-document url-prefix(){
	.Teralogic__page-partners-h{
		font:normal 40px/60px "Circe-ExtraLight", sans-serif;
	}
	.Teralogic__page-partners-p{
		font:normal 20px/35px "Circe-ExtraLight", sans-serif;
	}
}


.Teralogic__page-partners-p2{
	font:normal 14px/24px "Circe-ExtraLight", sans-serif;
	color:#c8c8c8;
	margin:0px;
}
.Teralogic__page-partners-p2 span{
	background-color:rgba(0,0,0,0.5);
	padding:2px 10px 2px;
	box-decoration-break: clone;
	-webkit-box-decoration-break:clone;
}


@media screen and (min-width: 1001px) and (max-width:1150px) {
	.Teralogic__page-partners_cell1{
		width:60%;
	}
	.Teralogic__page-partners_cell3{
		width:40%;
	}
}

@media screen and (min-width: 10px) and (max-width:1000px) {
	.Teralogic__page-partners-h{
		font:normal 30px/45px "Circe-ExtraLight", sans-serif;
	}
	.Teralogic__page-partners-p{
		font:normal 16px/27px "Circe-ExtraLight", sans-serif;
	}
	@-moz-document url-prefix(){
		.Teralogic__page-partners-p{
			font:normal 16px/29px "Circe-ExtraLight", sans-serif;
		}
	}

	.Teralogic__page-partners_cell1{
		width:50%;
		padding:0vh 0vw 0px 1vw;
	}
	.Teralogic__page-partners_cell3{
		width:50%;
	}

}